.main-panel {
  display: block;
  background-color: #f6f6f6;

  .img-fluid-custom {
    width:100%;
    object-fit: cover;
  }

  .car-row {
    overflow-y:scroll;
    height: calc(100vh - 100px);
  }

  .navbar {
    min-height: 40px;
    margin-bottom: 10px;
    padding-top: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    .navbar-header {
      width: 100%;
    }

    .navbar-header-title {
      color: #fff;
      font-size: 20px;
      text-align: center;
      padding-top: 2px;
    }
  }

  @media only screen and (min-width: 991px) {
    .img-fluid-custom {
      min-height: 350px;
      max-height: 350px;
    }
  }

  @media only screen and (min-width: 991px) and (max-width: 1699px) {
    .img-fluid-custom {
      min-height: 300px;
      max-height: 300px;
    }
  }

  @media only screen and (min-width: 991px) and ( max-width: 1499px) {
    .img-fluid-custom {
      min-height: 250px;
      max-height: 250px;
    }
  }

  @media only screen and (min-width: 991px) and ( max-width: 1299px) {
    .img-fluid-custom {
      min-height: 200px;
      max-height: 200px;
    }
  }
}
